<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <div class="main-navbar">
        <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
            <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="images/web.png"
                        alt="Shards Dashboard">
                    <span class="d-none d-md-inline ml-1">ESIC</span>
                </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
            </a>
        </nav>
    </div>

    <div class="nav-wrapper">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link <%= typeof dash != 'undefined' ? 'active' : '' %>" href="/me">
                    <i class="fas fa-chart-line"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= typeof notif != 'undefined' ? 'active' : '' %>" href="/notifications.manage">
                    <!-- <i class="material-icons">vertical_split</i> -->
                    <i class="fas fa-bell"></i>
                    <span>Alerts</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= typeof newNotif != 'undefined' ? 'active' : '' %>" href="/notifications.add">

                    <i class="far fa-edit"></i>
                    <span>Add New Alert</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= typeof docs != 'undefined' ? 'active' : '' %>" href="/documents.manage">
                    <i class="fas fa-file-alt"></i>
                    <span>Documents</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= typeof newDocs != 'undefined' ? 'active' : '' %>" href="/documents.add">
                    <!-- <i class="material-icons">note_add</i> -->                
                    <i class="fas fa-file-signature"></i>
                    <!-- <i class="fas fa-file-upload"></i> -->
                    <span>Add New Document</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= typeof img != 'undefined' ? 'active' : '' %>" href="/images.manage">
                    <i class="fas fa-images"></i>
                    <span>Images</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= typeof newImg != 'undefined' ? 'active' : '' %>" href="/images.add">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <span>Add New Image</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= typeof vid != 'undefined' ? 'active' : '' %>" href="/videos.manage">
                    <i class="fas fa-images"></i>
                    <span>Videos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= typeof newVid != 'undefined' ? 'active' : '' %>" href="/videos.add">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <span>Add New Video</span>
                </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link " href="user-profile-lite.html">
                <i class="material-icons">person</i>
                <span>User Profile</span>
              </a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link " href="errors.html">
                <i class="material-icons">error</i>
                <span>Errors</span>
              </a>
            </li> -->
        </ul>
    </div>
</aside>